@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply font-sans antialiased text-gray-900 dark:text-gray-100;
    overflow-x: clip;
  }
  html.dark {
    color-scheme: dark;
  }
  html:not(.dark) {
    color-scheme: light;
  }
  body {
    @apply m-0 min-h-screen bg-gray-100 font-sans dark:bg-gray-950;
  }
}

.safe-area-pb {
  padding-bottom: env(safe-area-inset-bottom, 0);
}

.safe-area-pt {
  padding-top: env(safe-area-inset-top, 0);
}

.safe-area-pl {
  padding-left: env(safe-area-inset-left, 0);
}

.safe-area-pr {
  padding-right: env(safe-area-inset-right, 0);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}